html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#tool {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

#toolbar {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

#canvas {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

#json-output-button {
    padding: 5px;
    margin: 40px;
    float: right;
}